.container{
    margin:0;
    padding:0;
    background: #c2bbff;
}

.Calendar{
    width: 100%;
    height: min-content;
    background-color: rgb(131, 131, 131);
    margin-top: 10px;
    
}

.SideBar{
    background:rgb(21, 204, 236);
    box-sizing: border-box;    
    min-height:90.2vh ;
}


.card{
    background-color: rgb(222, 242, 245);
    margin-top: 30px ;
    border:solid rgb(201, 193, 193) 1px;
    width:18em;
    height:8em;
    box-shadow: 0 8px 8px -4px lightblue;;
}
.card>.cardTitle{
    text-align: center;
    font-size: large;
    margin-top: 12px;
    font-weight: 800;
}
.card>.cardBody{
    text-align: left;
    margin: 12px;
}
.card>.cardBody{
    font-size: 50px;
    margin-bottom:30px;
    text-align: center;
}