.DateAndTime{
    display: flex;
    flex-direction: column;
}


.requiredField::after {
    content: "*";
    color: red;
}
.formContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form{
    width:100%;
    margin:0 140px;
}
.buttonGroup{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
}