
/* .img{
    width:40px;
}

.containerFluid{
    padding:0;
    margin:0;
    
}
.container{
    margin:auto;
    padding: 0;
    min-height: calc(100vh-50px);
    padding-bottom:350px;
    box-sizing: border-box;

} */
.container{
    margin:0;
    padding:0;
}



.SideBar{
    background:rgb(205, 242, 255);
    box-sizing: border-box;    
    min-height:90.2vh ;
    
}
