.container {
    margin: 0;
    padding: 0;
}



.SideBar{
    
    
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    background:rgb(205, 242, 255);
    box-sizing: border-box;    
    height: inherit;
}

@media screen and (max-width:768px) {
 

.SideBar{
    height:min-content;
    padding-bottom: 40px;
    text-align: center;
}

}