.container {
    margin: 0;
    padding: 0;


}

.Search {
    background: #D1D4E8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Search :nth-child(1) {
    margin-right: 12px;
}

.Search :nth-child(2) {
    width: 50%;
}

@media (max-width:480px) {
    .container {
        margin: 0;
        padding: 0;
        margin: auto;
        min-height: calc(100vh-100px);
        padding-bottom: 125px;
        box-sizing: border-box;

    }

    .Search {
        flex-direction: column;
    }

    .Search :nth-child(2) {
        width: 80%;
    }

}