.link{
    text-decoration: none;
    color:rgb(1, 1, 2);
    font-weight: 800;
    margin-bottom:12px;
}
/* .link:hover{
    color:rgb(255, 5, 151);
} */
.link:active{
    color:rgb(100, 100, 100);
}

.listItem:hover{
    background:rgb(0, 143, 187);
}