.img {
    width: 40px;
    margin:7px;
}

.footer {
    display: grid;
    background: #765353;
    padding-top: 30px;
    width: 100%;

}
.links {
    user-select: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.links:hover,.links:active {
    color:white;
}

