.img {
    width: 40px;
    margin:7px;
}

.footer {
    display: grid;
    background: #765353;
    padding-top: 30px;
    width: 100%;

}

a{
    color:black;
    user-select: none;
    text-decoration: none;
}
a:hover{
    color:black;
    user-select: none;
    text-decoration: none;
}