.DateAndTime {
    display: flex;
    flex-direction: column;
}

.requiredField::after {
    content: "*";
    color: red;
}

.form {
    border: 0.5px solid rgb(206, 198, 198);
    padding:60px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button {
    width: 40%;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 20px;
}