.DateAndTime {
    display: flex;
    flex-direction: column;
}

.requiredField::after {
    content: "*";
    color: red;
}

.form {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.button {
    width: 40%;
    align-self: center;
    margin-top: 40px;
}