.NavBar {
    background: #28BFF5;
    
    
}

.navLinks {
    user-select: none;
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
}

.navLinks:hover {
    color: aliceblue;
}




.logo {
    width:40px;
    
}