
.img{
    width:40px;
}

.containerFluid{
    padding:0;
    margin:0;
    
}
.container{
    margin:auto;
    padding: 0;
    min-height: calc(100vh-50px);
    padding-bottom:350px;
    box-sizing: border-box;

}